<ion-view>
<ion-nav-title  ng-click="differentTapTitle()" class="icon-home" >
 
</ion-nav-title>
<ion-nav-title  ng-click="differentTapTitle()" class="icon-home" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  <ion-content>

  	<div class="about-header ">
  		
  		<div class="menu-icon-irn"/>
  	</div>
  	<div id="bla">
  		En paraplyorganisasjon for islamske trossamfunn og organisasjoner i Norge. 
  	</div>
  	<div class="list">

  <div id="la">

  </div>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-social-facebook"></i>
    Lik oss på facebook
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-home"></i>
    Besøk vår webside
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios-telephone"></i>
    Kontakt telefon
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-email"></i>
    Kontakt mail
    <i class="icon ion-chevron-right"></i>
  </a>

  <div class="card">
  <div class="item item-text-wrap">
    <p>Konto nr. 05304230454</p>
    <p>POST SENDING: Storgaten 39 (5. etg.)</p>
    <p>0183 Oslo</p>
  </div>

</div>
 <div class="card">
  <div class="item item-text-wrap">
    <h3>Om appen</h3>
    <p> 
    	Måtte Allah swt akseptere alles bidrag.
    	For tilbakemelding, kontakt: app@irn.no, M.Masoom Zubair / IRN Teknisk komite
    </p>
  </div>
  
</div>

</div>



  </ion-content>
</ion-view>
