<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sett alarm for Asr</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Lukk</button>
    </div>
  </ion-header-bar>
  <ion-content>

  <div class="card">
    <div class="item item-text-wrap">
      Velg antall minutter før bønn
    </div>
   
  </div>
  <h3> {{preyOffset}} min</h3>
   
  <div class="range">
      <input type="range" name="volume" ng-model="preyOffset" min="0" max="10" value="0">
  </div>

  <div class="button-bar">
  <a class="button" ng-click="addAlarm()">Sett alarm</a>
  <a class="button">Avbryt</a>
  
</div>

  </ion-content>
</ion-modal-view>
