<ion-modal-view>
  <ion-header-bar>
    <h3 class="title">Sett alarm for {{currentAlarm.title}}</h3>
    <div class="buttons">
      
    </div>
  </ion-header-bar>
  <ion-content>

  <div class="card">
    <div class="item item-text-wrap">
      Velg antall minutter alarmen skal gå av før bønnetid
    </div>
     <h1> {{preyOffset}} min</h1>
   
  </div>

 
   
  <div class="range">
      <input type="range" name="volume" ng-model="preyOffset" min="0" max="10" value="5">
  </div>

  <div class="button-bar">
  <a class="button" ng-click="addAlarm(preyOffset)">Sett alarm</a>
  <a class="button" ng-click="closeAlarm()" >Avbryt</a>
  
</div>

  </ion-content>
</ion-modal-view>
