<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
   
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    
    <ion-content>

      <div class="menu-container">
          <div class="menu-icon-home" ng-click="changeView('/app/playlist')"> 
          
          </div>
          <div class="menu-text">
              Hjem
          </div>
      </div> 
      <div class="menu-container">
          <div class="menu-icon-calender"> 
          
          </div>
          <div class="menu-text" ng-click="changeView('/app/calender')">
              Månedestabell
          </div>
      </div>
      <div class="menu-container">
          <div class="menu-icon-enr"> 
          
          </div>
          <div class="menu-text">
              Enr database
          </div>
      </div> 
      <div class="menu-container">
          <div class="menu-icon-prodogprodukt"> 
          
          </div>
          <div class="menu-text">
             Produsent og produkt
          </div>
      </div>
      <div class="menu-container">
          <div class="menu-icon-butogserv"> 
          
          </div>
          <div class="menu-text">
            Butikk og servering
          </div>
      </div>
      <div class="menu-container">
          <div class="menu-icon-hijiri"> 
          
          </div>
          <div class="menu-text">
            Hijri
          </div>
      </div>
      <div class="menu-container" ng-click="changeView('/app/qibla')">
          <div class="menu-icon-qibla"> 
          
          </div>
          <div class="menu-text">
            Qibla
          </div>
      </div>
       <div class="menu-container" ng-click="changeView('/app/aboutirn')">
          <div class="menu-icon-aboutirn"> 
          
          </div>
          <div class="menu-text">
           Om IRN
          </div>
      </div>
        <div class="menu-container" ng-click="changeView('/app/settings')">
          <div class="menu-icon-settings"> 
          
          </div>
          <div class="menu-text">
          Innstillinger
          </div>
      </div>




      <!--ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          Om irn
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Qibla
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/hijiri">
          Hijiri
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Home
        </ion-item>
      </ion-list-->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
