<ion-view>
<ion-nav-title  ng-click="differentTapTitle()" class="icon-home" >
 
</ion-nav-title>
  <ion-nav-buttons class="bar-header bar-dark" side="left">
    <button menu-toggle="left" class="jall button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    

  <ion-content scroll="false" >
        
     <div class="fill-height-or-more" id="flexContainer"> <!-- Flex container -->
     <div class="preynavigation">
            <div class="nav-left" ng-click="prevDay()">
              <div class="nav-left-icon">
              </div>
            </div>
             <div class="nav-center" ng-click="showDatePicker()">
                {{currentPreyDateDisplayed.format('D MMMM YYYY')}}
            </div>
            <div class="nav-right" ng-click="nextDay()">
              <div class="nav-right-icon">
              </div>
            </div>
        </div>
      
         <div class="preynav-header">
          <div class="sidestatus-header">
            
          </div>
          <div class="prey-header">
            Bønn
          </div>
          <div class="time-header">
            Tid
          </div>
          <div class="timeagin-header">
            Tid igjen
          </div>
          <div class="alarm-header">
            Alarm
          </div>
         </div> 

     <div class="preycontainer"> <!-- Flex item: Takes up 60% of parent. Also flex box. Direction : row. wrap. align content : strech -->
      <div class="preyrow" ng-repeat="playlist in playlists" ng-class="{'passed' : playlist.passed , 'active-prey' : playlist.isActive}">  <!-- Flex item: Flex basis : 100% . Also flex box : Direction row. no-wrap . space between-->
        <div ng-class="playlist.isActive ? 'active-prey-sidebar' : 'sidestatus'"> <!-- Not flex item. Takes up 100%-->
         
        </div>
        <div class="prey" >
           {{playlist.title}}
        </div>
        <div class="time">
           {{playlist.time}}
        </div>
        <div class="timeagin">
           <timer ng-if="playlist.isNext" countdown="playlist.countDown" max-time-unit="'hour'" interval="1000">{{hours}}:{{mminutes}}:{{sseconds}}</timer>
        </div>
        <div class="alarm" ng-click="ShowAlarmDatePicker(playlist)"> <!-- flex container. Used for centering alarm icon-->
            <div ng-class="playlist.hasAlarm ? 'alarm-active-box' : 'alarm-box'"  >

              </div> 
        </div>
      </div>    
      </div>
        <div class="shortcutcontainer">  <!-- Flex item: Takes up 40% of parent. Also flex container.  -->
        <div class="button-group app-background">  
          <div class="button-irn" ng-click="changeView('/app/calender')">
            <div class="icon icon-calender">&nbsp;</div>
            <div class="text">Bønnekalender</div>
          </div>
          
          <div class="button-irn" onclick="window.open('http://www.irn.no/e-nummer-og-ingredienser', '_self’', 'location=yes'); return false;">
            <div class="icon icon-enr">&nbsp;</div>
            <div class="text">E-nr database</div>
          </div>
          
          <div class="button-irn" onclick="window.open('http://www.irn.no/produsent-og-produkter', '_self’', 'location=yes'); return false;">
            <div class="icon icon-pro">&nbsp;</div>
            <div class="text">Pro og prod</div>
          </div>
        </div>  
       <div class="button-group app-background" id="header">
          <div class="button-irn" onclick="window.open('http://www.irn.no/e-nummer-og-ingredienser', '_self’', 'location=yes'); return false;">
            <div class="icon icon-hjiri">&nbsp;</div>
            <div class="text">Hijiri</div>
          </div>
          
          <div class="button-irn" onclick="window.open('http://www.irn.no/moskeene', '_self’', 'location=yes'); return false;">
            <div class="icon icon-mosque">&nbsp;</div>
            <div class="text">Moskeer</div>
          </div>
          
          <div class="button-irn" onclick="window.open('http://www.irn.no/butikk-og-servering', '_self’', 'location=yes'); return false;">
            <div class="icon icon-shop">&nbsp;</div>
            <div class="text">Butikk og serv</div>
          </div> 
        </div>  

         <div class="button-group app-background" id="header">
        
          <div class="button-irn" ng-click="changeView('/app/qibla')">
            <div class="icon icon-qibla">&nbsp;</div>
            <div class="text">Qibla</div>
          </div>
          
          <div class="button-irn" ng-click="changeView('/app/aboutirn')">
            <div class="icon icon-aboutirn">&nbsp;</div>
            <div class="text">Om IRN</div>
          </div>
          
          <div class="button-irn" ng-click="changeView('/app/settings')">
            <div class="icon icon-settings">&nbsp;</div>
            <div class="text">Innstillinger</div>
          </div>
            
        </div>  
      </div>
     </div>

      
  </ion-content>
</ion-view>
