<ion-view>
<ion-nav-title  ng-click="differentTapTitle()" class="icon-home" >
 
</ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  <ion-content>

  	<div id="page1" data-role="page">
    <header data-role="header" data-position="fixed">
      <h1></h1>
    </header>



    <div class="container2" rotate degrees="nav.deg">
        <div class="arrow">

         </div> 
     </div> 
 
  </div>



  </ion-content>
</ion-view>



