<ion-view title="{{navTitle}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  <ion-content>
   
    <ion-checkbox ng-model="settings.skygge2">IRN standard Hanafi (Asr 2xskygge)</ion-checkbox>
    <ion-checkbox ng-model="settings.skygge1">IRN standard Hanafi (Asr 1xskygge)</ion-checkbox>
    <ion-checkbox ng-model="settings.calendarCity" >Velg by</ion-checkbox>
  	<div class="list">
    <div ng-if="settings.calendarCity">
    <label class="item item-input item-select">
      <div class="input-label">
        By
      </div>
      <select   ng-model="settings.city" >
       <option>Akrehamn</option>
<option>Arendal</option>
<option>Asker</option>
<option>Askim</option>
<option>Bergen</option>
<option>Birkeland</option>
<option>Brevik</option>
<option>Bryne</option>
<option>Dalen</option>
<option>Drammen</option>
<option>Drobak</option>
<option>Egersund</option>
<option>Eidsvoll</option>
<option>Elverum</option>
<option>Fagernes</option>
<option>Farsund</option>
<option>Flekkefjord</option>
<option>Flisa</option>
<option>Fredrikstad</option>
<option>Geilo</option>
<option>Gjovik</option>
<option>Grimstad</option>
<option>Halden</option>
<option>Hamar</option>
<option>Haugesund</option>
<option>Hokksund</option>
<option>Holmestrand</option>
<option>Honefoss</option>
<option>Horten</option>
<option>Husnes</option>
<option>Jessheim</option>
<option>Jorpeland</option>
<option>Kongsberg</option>
<option>Kongsvinger</option>
<option>Kopervik</option>
<option>Kragero</option>
<option>Kristiansand</option>
<option>Langesund</option>
<option>Larvik</option>
<option>Leirvik</option>
<option>Lillesand</option>
<option>Lillestrom</option>
<option>Lyngdal</option>
<option>Mandal</option>
<option>Moss</option>
<option>Mysen</option>
<option>Notodden</option>
<option>Odda</option>
<option>Oslo</option>
<option>Porsgrunn</option>
<option>Rasvag</option>
<option>Raufoss</option>
<option>Risor</option>
<option>Rjukan</option>
<option>Roldal</option>
<option>Sand</option>
<option>Sandefjord</option>
<option>Sandnes</option>
<option>Sandvika</option>
<option>Sarpsborg</option>
<option>Sauda</option>
<option>Ski</option>
<option>Skien</option>
<option>Skudeneshavn</option>
<option>Sogne</option>
<option>Stathelle</option>
<option>Stavanger</option>
<option>Stavern</option>
<option>Stord</option>
<option>Strömstad</option>
<option>Svelvik</option>
<option>Tonsberg</option>
<option>Tvedestrand</option>
<option>Vanningssundet</option>
<option>Vennesla</option>
<option>Vossevangen</option>
      </select>
    </label>
    <ion-checkbox ng-model="settings.skygge2by">Asr 2xskygge</ion-checkbox>
    <ion-checkbox ng-model="settings.skygge1by">Asr 1xskygge</ion-checkbox>
  </div>



  </ion-content>
</ion-view>

