img.qibla {
 
}

.push {

  margin-top: 15px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 20px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 80px;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  top: 80px;
}

.bar.bar-stable {
    background: rgb(21, 20, 20);
}

.iframe {

	width:100%;
	height:600px

	    
}

.bar .title {
 height: 60px;
}
/*
.bar.bar-stable {
    height: 60px !important;
}

.bar .title {
 height: 50px;
}

.has-header {
  top: 60px; }
*/
.container2 {
    width: 100%;
    height: 350px;

    background-image: url(../icons/ic_compass.png) ;
  background-color: transparent;
  background-repeat: no-repeat;
 background-position: center;
  
 background-size: contain;


}

.arrow {
    width: 100%;
    height: 350px;

    background-image: url(../icons/ic_compass_arrow.png) ;
    transform: rotate(49deg) ;
  background-color: transparent;
  background-repeat: no-repeat;
 background-position: center;
  
 background-size: contain;

}
.image {
    position: absolute;
   
    border: 1px solid red;
}

.imageOne {
    z-index: 0;
}

.imageTwo {
    z-index: 1;
     transform-origin: left;
    transform: translate(-5%, 5%) rotate(90deg) ;
}


.fill-height-or-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  
  height:100%;
}

.call-flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  top: 44px;
  height:60px;
}

.flexcontainer{



}


.preynavigation {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	        flex-shrink: 1;
	-webkit-flex-basis:10%;
	    -ms-flex-preferred-size:10%;
	        flex-basis:10%;
    font-size: medium;
	background-color: black;
	padding: 5px;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

}

.callnavigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis:10%;
      -ms-flex-preferred-size:10%;
          flex-basis:70%;
    font-size: medium;
  background-color: black;
  padding: 5px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

}

.callnavigation > div

{

  display:-webkit-box;

  display:-webkit-flex;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

  -webkit-align-content: center;

      -ms-flex-line-pack: center;

          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;




}
.preynavigation > div {

  display:-webkit-box;

  display:-webkit-flex;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

  -webkit-align-content: center;

      -ms-flex-line-pack: center;

          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;




}



.qibla img {

	 max-width: 100%;
    height: auto;  
  
   
}

.bar-subheader {

	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
};

#qiblacompass {

	
}

#qiblarrow {
	 top: 0px;
	 -o-object-fit: contain;
	    object-fit: contain;
    left: 0px; 
	z-index: 30;
}



.menu {

  background-color: black;

padding-top : 9%;
	display:-webkit-box;

	display:-webkit-flex;

	display:-ms-flexbox;

	display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}


.menu-container {

	   -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
   
    display:-webkit-box;
   
    display:-webkit-flex;
   
    display:-ms-flexbox;
   
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

       background-color:  #252525;
	  border-bottom: 2px solid  #dedede;
}





.menu-text:active {
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#ffffff));
}

.menu-text {

  font-size: large;

  display:-webkit-box;

  display:-webkit-flex;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap:no-wrap;
          flex-wrap: no-wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  -webkit-align-content: center;

      -ms-flex-line-pack: center;

          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color:  white;
  padding-left: 5%;
 width: 80%;

}

.menu-icon {

	margin: 5%;
	width: 20%; 
	background-color: #252525;
	
}

#bla {
	width: 100%;
	height: auto;
   opacity: 0.6;
   font-size: small;
  	 background-color: black;
  	color: white;
  	text-align: center;
vertical-align: middle;
  	font-weight: center;
}


#la {
	width: 100%;
	height: 130px;
    background-image: url(../icons/irnmap2.png);
background-size: 100% auto;
}

.irn-icon{   
  height: 100px;
  background-image:  url(../icons/irnlogo_cropped.png);
    background-size:   contain;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 

}

  



#image
{
    width: 100%;
}

.menu-icon-irn  {
height :100px;
width :100%;


}

 
 .bar  .bar-stable {
background: rgb(37, 37, 37)

 }





.menu-icon-calender  {
height :50px;
width :50px;
  border-bottom: 2px solid  #dedede;
background-color: #252525;
 background-image: url(../icons/ic_calendar.png);
 background-size: 30px 30px;
 background-position: center;
  background-repeat: no-repeat;
 -webkit-mask-repeat: no-repeat;
 -webkit-mask-size: 90% 90%;
 


}

.menu-icon-enr {
height :50px;
width :50px;
  border-bottom: 2px solid  #dedede;
background-color: #252525;
 background-image: url(../icons/ic_enr.png);
 background-size: 30px 30px;
 background-position: center;
  background-repeat: no-repeat;
 -webkit-mask-repeat: no-repeat;
 -webkit-mask-size: 90% 90%;
 


}

.menu-icon-prodogprodukt {
height :50px;
width :50px;
  border-bottom: 2px solid  #dedede;
background-color: #252525;
 background-image: url(../icons/ic_productfabric.png);
 background-size: 30px 30px;
 background-position: center;
  background-repeat: no-repeat;
 -webkit-mask-repeat: no-repeat;
 -webkit-mask-size: 90% 90%;
 


}



.menu-icon-butogserv {
	height :50px;
	width :50px;
	  border-bottom: 2px solid  #dedede;
	background-color: #252525;
	 background-image: url(../icons/ic_shop.png);
	 background-size: 30px 30px;
	 background-position: center;
	  background-repeat: no-repeat;
	 -webkit-mask-repeat: no-repeat;
	 -webkit-mask-size: 90% 90%;
 


}

.menu-icon-hijiri {
	height :50px;
	width :50px;
	  border-bottom: 2px solid  #dedede;
	background-color: #252525;
	 background-image: url(../icons/ic_hijri.png);
	 background-size: 30px 30px;
	 background-position: center;
	  background-repeat: no-repeat;
	 -webkit-mask-repeat: no-repeat;
	 -webkit-mask-size: 90% 90%;
 


}

.menu-icon-mosque {
	height :50px;
	width :50px;
	  border-bottom: 2px solid  #dedede;
	background-color: #252525;
	 background-image: url(../icons/ic_mosque.png);
	 background-size: 30px 30px;
	 background-position: center;
	  background-repeat: no-repeat;
	 -webkit-mask-repeat: no-repeat;
	 -webkit-mask-size: 90% 90%;
 


}


.menu-icon-qibla {
	height :50px;
	width :50px;
	  border-bottom: 2px solid  #dedede;
	background-color: #252525;
	 background-image: url(../icons/ic_qibla.png);
	 background-size: 30px 30px;
	 background-position: center;
	  background-repeat: no-repeat;
	 -webkit-mask-repeat: no-repeat;
	 -webkit-mask-size: 90% 90%;
 


}

.menu-icon-aboutirn {
	height :50px;
	width :50px;
	  border-bottom: 2px solid  #dedede;
	background-color: #252525;
	 background-image: url(../icons/ic_irn.png);
	 background-size: 30px 30px;
	 background-position: center;
	  background-repeat: no-repeat;
	 -webkit-mask-repeat: no-repeat;
	 -webkit-mask-size: 90% 90%;
 


}


.menu-icon-settings {
	height :50px;
	width :50px;
	  border-bottom: 2px solid  #dedede;
	background-color: #252525;
	 background-image: url(../icons/ic_settings.png);
	 background-size: 30px 30px;
	 background-position: center;
	  background-repeat: no-repeat;
	 -webkit-mask-repeat: no-repeat;
	 -webkit-mask-size: 90% 90%;
 


}


.app-background {
   background-color: black;

}

.header {
    color: #ffffff;
	line-height: 9px;
	font-size: 9px;
	font-weight: bold;

}

.nav-header {

	height: 30px;
	width: 100%;
	padding: 2px;
	background: black; 

}

.nav-left {
	width: 20%;
	background: #434343;

	

}



.nav-left-icon{
	width : 12px;
 	height: 12px; 
 	
	 background-color: #ffffff;
	-webkit-mask-image: url(../icons/ic_left_arrow.png);
	-webkit-mask-repeat: no-repeat;
	
		-webkit-mask-size: 90% 90%;
	
}

.nav-center-input {
	
	
    margin:0 auto;
    width:180px;
    height: 26px;
    color: white;
	background: #434343; 
	  	text-align: center;
vertical-align: middle;
  	font-weight: center;
}

.nav-center-input input {
	color: white;
	background: #434343; 
	  	text-align: center;
vertical-align: middle;
  	font-weight: center;
width:180px;
border-style:none;
}




.nav-center {
  	width: 50%;
    color: white;
	background: #434343; 
}

.nav-center:active {
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#147639), to(#242424));
}

.nav-right:active {
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#147639), to(#242424));
}


.nav-left:active {
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#147639), to(#242424));
}


.nav-right {
	width: 20%;
	background: #434343;
}

.nav-right-icon{
	width : 12px;
 	height: 12px; 

	 background-color: #ffffff;
	-webkit-mask-image: url(../icons/ic_right_arrow.png);
-webkit-mask-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	
		-webkit-mask-size: 90% 90%;

}

.preycontainer{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	        flex-shrink: 1;
	-webkit-flex-basis:55%;
	    -ms-flex-preferred-size:55%;
	        flex-basis:55%;
	
	
	display:-webkit-box;
	
	
	display:-webkit-flex;
	
	
	display:-ms-flexbox;
	
	
	display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
	background-color:white;
	
}

.shortcutcontainer{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	        flex-shrink: 1;
	
	-webkit-flex-basis:33%;
	
	    -ms-flex-preferred-size:33%;
	
	        flex-basis:33%;
	background-color:blue;
	
	display:-webkit-box;
	
	display:-webkit-flex;
	
	display:-ms-flexbox;
	
	display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
	
}


.preyrow {
	border-bottom: 3px solid  #dedede;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
   
    display:-webkit-box;
   
    display:-webkit-flex;
   
    display:-ms-flexbox;
   
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

}

.preyrow > div {

display:-webkit-box;

  display:-webkit-flex;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap:no-wrap;
          flex-wrap: no-wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  -webkit-align-content: center;

      -ms-flex-line-pack: center;

          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: medium;
}

.preyrow .sidestatus {
 width: 2%;
 background-color : #dedede;

}

.preyrow .active-prey-sidebar {
   background-color: #008c35;
   width: 2%;
}


.preyrow .active-prey {
   background-color: #dfe6d6;
  
}



.preyrow .prey {
   width : 30%;
}

.preyrow .time {
  width : 15%; 
}

.preyrow .timeagin {
  width : 17%; 
}

.preyrow .alarm {
	width : 15%; 
  background: #f5f5f5; 
  border-left: 1px solid  #dedede;
   padding: 5px;
  
}

.dayrow {
	height : 20px;
	width: 100%;
}

div.preyrow div {
	float:left;
}



div.container {
 width: 98%;
 height : 50px;
 position: relative;
  border: 1px solid  #dedede;
}

div.day-container {
 width: 98%;
 height : 20px;
 position: relative;
  border: 1px solid  #dedede;
}


.active-prey{
	background-color: #dfe6d6;
}

.active-day{
	background-color: #dfe6d6;
}



.active-prey-nav {
	
	width: 1%;
}

div.day-container div {
	float:left;
	
	
}

.header-cal {
    color: #ffffff;
	line-height: 9px;
	font-size: 9px;
	font-weight: bold;
	width: 100%;

}


div.header-cal div {
	float:left;
	
	
}

.clander-item-day {
	text-align: center;
	width: 5%;
}


.clander-item-day-nav {
	text-align: center;
	width: 8%;
}


.clander-item {
	text-align: center;
	width: 15.5%;
}


.clander-item-nav {
	text-align: center;
	width: 15.5%;
}

div.sidestatus-day {
	float:left;
	text-align: center;
	width: 3%;
	height : 20px; 
	width: 2%;
	background-color : #dedede;
}

div.active-day-sidebar{
	background-color: #008c35;
	
	float:left;
	text-align: center;
	width: 3%;
	height : 20px; 
	width: 2%;
	
}




div.day-container {
 	width: 100%;
}



.passed {

	background-color:#f5f5f5;
	color: grey;
  
}

   




.alarm-box {
 width : 20px;
 height: 20px; 

 -webkit-mask-image: url(../icons/ic_alarm_clock.png);
-webkit-mask-repeat: no-repeat;
-webkit-mask-size: 90% 90%;
background-color:#dedede;
margin: auto;
background-size: 20px 20px;
  
}

@media (min-width: $desktop-size), -webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) { 
     .alarm-active-box { 
        width : 30px;
 		height: 30px; 
     }

     .alarm-box {
     	width : 30px;
 		height: 30px; 
  
	}

	.preyrow > div {

	  display:-webkit-box;

	  display:-webkit-flex;

	  display:-ms-flexbox;

	  display:flex;
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
	  -webkit-flex-direction: row;
	      -ms-flex-direction: row;
	          flex-direction: row;
	  -webkit-flex-wrap: wrap;
	      -ms-flex-wrap: wrap;
	          flex-wrap: wrap;
	  -webkit-box-pack: start;
	  -webkit-justify-content: flex-start;
	      -ms-flex-pack: start;
	          justify-content: flex-start;

	  -webkit-align-content: flex-start;

	      -ms-flex-line-pack: start;

	          align-content: flex-start;
	  -webkit-box-align: center;
	  -webkit-align-items: center;
	      -ms-flex-align: center;
	          align-items: center;
	  font-size: 15px;
	}

	.nav-right-icon{
		width : 15px;
	 	height: 15px; 

		 background-color: #ffffff;
		-webkit-mask-image: url(../icons/ic_right_arrow.png);
	-webkit-mask-repeat: no-repeat;

			-webkit-mask-size: 90% 90%;

	}

	.nav-left-icon{
		width : 15px;
	 	height: 15px; 

		 background-color: #ffffff;
		-webkit-mask-image: url(../icons/ic_left_arrow.png);
	-webkit-mask-repeat: no-repeat;

			-webkit-mask-size: 90% 90%;

	}
}

.alarm-active-box {
 width : 20px;
 height: 20px; 

 -webkit-mask-image: url(../icons/ic_alarm_clock_active.png);
-webkit-mask-repeat: no-repeat;
-webkit-mask-size: 90% 90%;
background-color:#008c35;
margin: auto;
background-size: 20px 20px;
  
}

.top {

	margin-top:  35px;
}

.hackinghight {

	height: 35px;
}



.button-group {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
   
    display:-webkit-box;
   
    display:-webkit-flex;
   
    display:-ms-flexbox;
   
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}


.menu-button-irn {

background-color: #ffffff;
padding: 0px;
text-decoration: none;
width: 33%;
margin: 3px;

  display:-webkit-box;

  display:-webkit-flex;

  display:-ms-flexbox;

  display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

}



.jall {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2f593f), to(#242424)) !important;
  color: white !important;
  height: 50px;
}

.button-irn {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2f593f), to(#242424));
background-color: #ffffff;
padding: 0px;
text-decoration: none;
width: 33%;
margin: 3px;

  display:-webkit-box;

  display:-webkit-flex;

  display:-ms-flexbox;

  display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

}

.preynav-header {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-flex-basis:3%;
        -ms-flex-preferred-size:3%;
            flex-basis:3%;
    background-color: black;
    color: white;

    display:-webkit-box;

    display:-webkit-flex;

    display:-ms-flexbox;

    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
         -ms-flex-pack: justify;
             justify-content: space-between;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;

}

.preynav-header > div {

  display:-webkit-box;

  display:-webkit-flex;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  -webkit-align-content: flex-start;

      -ms-flex-line-pack: start;

          align-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
          font-size: small;
          font-style: bold;
 
}

.preynav-header .sidestatus-header{
	 width: 2%;
}

.preynav-header .prey-header{
	  width : 30%;
}

.preynav-header .time-header{
	  width : 15%;
}

.preynav-header .timeagin-header{
	  width : 17%;
}


.preynav-header .alarm-header{
	  width : 15%;
}

.button-irn:active {
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#147639), to(#242424));
}

.button-irn .icon  {
margin-top:  5px;
	-webkit-box-flex: 1;

	-webkit-flex-grow: 1;

	    -ms-flex-positive: 1;

	        flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    

}

.icon-home   {


	  display: block;
  width: 100%;
  height: 100%;

  background-image: url(../icons/drawable-xxhdpi/ic_logo_new.png) ;
  background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;

	 background-position: center;
 


}

.icon-home:active {
  background-image: url(../icons/drawable-xxhdpi/ic_logo_new_active.png) ;
}


.icon-calender  {

 
	background-image: url(../icons/drawable-xxhdpi/ic_calendar.png) ;
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
	
 background-size: contain;
}


.icon-home-av  {
	background-image: url(../icons/drawable-xxhdpi/ic_apphome.png) ;
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
	
 background-size: contain;
 


}


 .icon-hjiri  {


 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_hijri.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
	
 background-size: contain;
}

.icon-enr {


 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_enr.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
  background-size: contain;
	

}

 .icon-pro {

	 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_halal.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
  background-size: contain;

}


 .icon-mosque {

	 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_mosque.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
  background-size: contain;

}


 .icon-apphome {

   background-color: #ffffff;
  background-image: url(../icons/ic_apphome.png);
  background-color: transparent;
  background-repeat: no-repeat;
 background-position: center;
  background-size: contain;

}



.icon-aboutirn {

		 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_irn.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
  background-size: contain;

}



.icon-settings {


	 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_settings.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
  background-size: contain;


}

.icon-shop {

	 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_shop.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
  background-size: contain;

}

.icon-qibla {

	 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_qibla.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
  background-size: contain;

}

.icon-halal {

		 background-color: #ffffff;
	background-image: url(../icons/drawable-xxhdpi/ic_halal.png);
	background-color: transparent;
	background-repeat: no-repeat;
 background-position: center;
  background-size: contain;

}


.button-irn .text  {
color: #ffffff;
	
	text-align: center;
	font-size: x-small;
	font-weight: bold;
	-webkit-box-flex: 1;

	-webkit-flex-grow: 1;

	    -ms-flex-positive: 1;

	        flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 15%;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
}


.icon-alarm-inactive {

	background-color: red;
	-webkit-mask-image: url(../icons/ic_alarm_clock.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 50% 50%;
	/*background: url(../icons/ic_alarm_clock.png) no-repeat;*/
}



}